.body{
    background-color: #151515;
}

.purple{
    color : #6D05CD;
}

#highlight{
    color:#FFCF00;
}


.tombol{
background-color: #6D05CD!important;
}


@media (min-width: 1000px) {
    .desc_text{
        color:#FFFFFF;
        font-size: 1.5rem;
        line-height: 1;
    }

    .text-4{
        color:#FFFFFF;
        font-size: 1.5rem;
       
    }
    .yellow{
        background-color: #FFCF00;
      width:max-content;
       
      
    }
    .text-1{
        color:#FFFFFF;
        font-size: 1.8rem;
        letter-spacing: 2.7rem;
    }
    .text-2{
        color:#FFFFFF;
        letter-spacing: 1rem;
        font-size: 4rem;
        font-weight:700;
        
    }
    .text-3{
        color: #151515;
        font-size: 4rem;
        font-weight: 700;
       
    }
}



@media (min-width: 375px) {  
    .text-1{
        color:#FFFFFF;
        font-size: 10px;
        letter-spacing: 10px;
    }
    .text-2{
        color:#FFFFFF;
        letter-spacing:  10px;
        font-size:  10px;
        font-weight:700;
        
    }
    .text-3{
        color: #151515;
        font-size:  10px;
        font-weight: 700;
       
    }
    .desc_text{
        color:#FFFFFF;
        font-size: 10px;
        line-height: 1;
    }
    .text-4{
        color:#FFFFFF;
        font-size: 10px;
       
    }
    
}