.sectionHeight1 {
  height: 78vh;
}

.deleteThread {
  color: #cd0511 !important;
}

.radius {
  border-radius: 50px !important;
  width: 75% !important;
}

.size {
  width: 30%;
}

.linkEdit {
  color: #3f6fe3;
  text-decoration: none;
}
