.sidebar {
  background-color: #151515;
  color: white;
}

.gambar {
  margin-top: 100px;
}

.gambar:hover {
  color: white;
}

.linkThread {
  color: white;
  text-decoration: none;
}

.linkThread:hover {
  color: white;
}

.gambar img {
  width: 80px;
}

.admin img {
  width: 80px;
  height: 80px;
}

.nav {
  height: 50px;
  background-color: #3f6fe3;
}

.navActive {
  height: 50px;
  background-color: yellow;
  color: #151515;
}

.logout {
  top: 300px;
  left: 40px;
}

.logout img {
  width: 50px;
}

.reported {
  background: #ebe7e7;
}

.reported:hover {
  background: #d6d6d6;
}

.arrow img {
  width: 30px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white !important;
  background-color: #2b2eff;
}

.paginationDisabled {
  visibility: hidden;
}

.radius {
  border-radius: 50px !important;
  width: 75% !important;
}

.size {
  width: 30%;
}
