.box {
  background-color: #ffcf00;
  max-width: fit-content;
}
.infinity {
  font-size: 400%;
  letter-spacing: 1rem;
}
.discuss {
  color: #000000;
  font-size: 400%;
}
.infion {
  font-size: 140%;
  letter-spacing: 3rem;
}
.h {
  font-size: 120%;
}
.highlight {
  color: #ffcf00;
}

.content {
  padding-top: 5%;
  height: 50vw;
}
.btn {
  background-color: #6d05cd !important;
}
