.logo {
  width: 6vh;
}

.title {
  font-size: 14px !important;
  color: #fff;
}

.profileSize {
  width: 40px;
}

.notifSize {
  width: 28px;
}

.wrap {
  flex-grow: 1;
}

.grow {
  flex-grow: 2;
}

.link {
  text-decoration: none;
  color: #fff;
}
.black{
  color : #0000!important;
}
.btn{
  background-color: #6D05CD!important;
  width: 30%;
}
.radius{
  border-radius:50px!important;
  width: 75%!important;
}
.radius2{
  border-radius:50px!important;
}
.blue{
  color:#3F6FE3;
  text-decoration: none;
}
.grey{
  color: #736E6E;
 
}
.size{
  width: 30%;
}
.size2{
  width: 15%;
}

