.logo {
    width: 6vh;
}

.title {
    font-size: 14px !important;
    color: #fff;
}

.profileSize {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.notifSize {
    width: 28px;
}

.wrap {
    flex-grow: 1;
}

.grow {
    flex-grow: 2;
}

.link {
    text-decoration: none;
    color: #fff;
}
.black {
    color: #0000 !important;
}
.btn {
    background-color: #6d05cd !important;
    width: 30%;
}
.radius {
    border-radius: 50px !important;
    width: 75% !important;
}
.radius2 {
    border-radius: 50px !important;
}
.blue {
    color: #3f6fe3;
    text-decoration: none;
}
.grey {
    color: #736e6e;
}
.size {
    width: 30%;
}
.size2 {
    width: 15%;
}

.alert img {
    width: 70px;
}

.red {
    color: #cd0511;
    font-size: small;
}

.clearDecoration {
    text-decoration: none;
}

.girlLookAtThatBody {
    overflow-y: inherit !important;
}

.announce {
    border: 4px solid #ffcf00 !important;
}

.headerAnnounce {
    background: #ffcf00;
}

.bodyAnnounce {
    height: 150px;
}
