.logo {
  width: 60px;
}

.infion {
  width: 120px;
}

.titleBuilder,
.titlePages,
.titleContact {
  font-size: 14px;
}

.contentBuilder,
.contentPages {
  font-size: 13px;
}

.title {
  font-size: 14px !important;
  color: #fff;
}

.wrap {
  width: 95%;
}