.yellow {
    color: #ffcf00;
}

.box-title {
    display: inline-block;
}

.sectionHeight {
    height: 115vh;
}

.editInput {
    background: transparent;
    color: #fff;
}

.hideUpload {
    opacity: 0;
    z-index: -1;
    color: #fff;
}

.upload {
    color: #fff;
}

.photoProfile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nameProfile {
    color: #3f6fe3;
}

.editButton {
    background: #6d05cd;
    color: #fff;
}

.previewProfile {
    width: 150px;
    height: 150px;
}
