@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  /* background: #151515 !important; */
  font-family: "Roboto", sans-serif;
  /* color: #fff; */
}
